/** @format */

.homeTitle {
  margin: auto 2rem 2rem 2rem;
}

.homeDialog {
  background-color: white;
  border-radius: 1rem 1rem 1rem 1rem;
  width: 40%;
}

.homeContent {
  display: flex;
  flex-direction: column;
  margin: 2rem auto 2rem auto;
}

.inputCont {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto auto auto 0;
  padding-left: 5rem;
}

.demo {
  font-size: 1rem;
}
