.map{
    position: relative;
    width: 100%;
    height: 53vh;
  }

  .controlBar{
    display: flex;
    flex-direction: row;
  }

@media (min-width: 42.1rem) and (max-width: 63rem){}

@media (min-width: 29.1rem) and (max-width: 42rem){}

@media (max-width: 29rem){
  .callField{
    width: 30vw;
  }
}

/*@media (max-width: 16rem){
    .callField{
        width: 40%;
      }
}*/

@media (min-height: 27.1rem) and (max-height: 34rem){}

@media (max-height: 27rem){}