.popUp{
    position: absolute;
    display: flex;
    flex-direction: column;
    border-radius: 1rem 1rem 1rem 0;
    background-color: var(--infoBarColor);
    box-shadow: 0.2rem 0.2rem 0.5rem var(--shadowColor);
    padding: 0.5rem;
    width: 20vw;
    bottom: 100%;
    left: 100%;
    z-index: 500;
  }

  .popUp:hover{
    cursor: default;
  }

  .popUpMenu{
    position: absolute;
    display: flex;
    flex-direction: column;
    border-radius: 1rem 0 1rem 1rem;
    background-color: var(--infoBarColor);
    box-shadow: 0.2rem 0.2rem 0.5rem var(--shadowColor);
    padding: 0.5rem;
    top: 100%;
    right: 100%;
    z-index: 410;
  }

  .popUpButtons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1rem auto 0.5rem auto;
  }

  .options{
    padding: 0.5rem;
    margin: 0 0.5rem 0 0.5rem;
  }

  .clearTable{
    position: relative;
    margin: 0 auto 1rem auto;
  }


@media (min-width: 42.1rem) and (max-width: 63rem){}


@media (min-width: 29.1rem) and (max-width: 42rem){

    .popUp{
        width: 35vw;
        bottom: 110%;
        left: 0;
      }
}


@media (min-width: 16.1rem) and (max-width: 29rem){
  
    .popUp{
      width: 35vw;
      bottom: 110%;
      left: 0;
    }
  }

@media (max-width: 16rem){
    .popUp{
        width: 35vw;
        bottom: 110%;
        left: 0;
      }
}

@media (min-height: 27.1rem) and (max-height: 34rem){}

@media (max-height: 27rem){}