
html{
  font-size: 10px; /*change default font size so 1rem = 10px rather than 16*/
}
body{
  font-family: "Roboto", sans-serif;
  background-color: #62b6cb;
}

.title{
  max-width: 100rem;
  margin: 0 auto 0 auto;
}

.logo{
  height: 4rem;
  margin: 1rem 0 2rem 2rem;
}


.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #bee9e8;
  border-radius: 2rem;
  overflow: hidden;
  max-width: 100rem;
  margin: 0 auto 0.5rem auto;
  font-size: 1.6rem; /*change font size to 1.6rem to equal browser default of 16px*/
}

.map{
  width: 100%;
}

.infoBar{

  border-radius: 0.5rem;
  background-color: #f7fff7;
  height: 10rem;
  overflow-y: auto;
  margin: 2rem auto 1rem auto;
}

.stationInfo{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.extraInfo{
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  background-color: #f7fff7;
  width: 40%;
  padding: 2rem;
  margin: 2rem;
}

.extraHeader{
  display: flex;
  flex-direction: row;
  justify-content: start;
  margin: 0 0 1rem 0;
  font-weight: bold;
}

.extraRow{
  display: flex;
  flex-direction: row;
  justify-content: start;
  margin: 0 0 0.5rem 0;
}

.flagIcon{
  margin: 0 1rem 0 0;
}

.extraCells{
  text-align: left;
}

.callInput{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.markerInfo{
  position: absolute;
  overflow: hidden;
  background-color: white;
  border-radius: 0 1rem 1rem 1rem;
  width: 10rem;
  left: 2rem;
  margin: 4rem 0 0 0;
  padding: 0;
}

.callField{
  background-color: #f7fff7;
  border-radius: 0.5rem;
  margin: 0 1rem 0 0.5rem;
}

.infoHead {
  position: sticky;
  background-color: grey;
  border-style: none none solid none;
  padding: 0 1rem 0 1rem;
  top: 0;
}

.infoCells {
  text-align: left;
  padding: 0 1rem 0 1rem;
}

.activeRow{
  text-decoration: none;
  cursor: pointer;
}

.activeRow:hover{
  text-decoration: underline;
  color: #22577a;
}

.callList{
  border-collapse: collapse;
  margin: 0 0 0 0;
}

.bottomBar{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  max-width: 50rem;
  margin: 0 5rem 2rem 5rem;
}

.footer{
  text-align: center;
  max-width: 100rem;
  margin: 0 auto 0 auto;
}

@media screen and (max-width: 30rem){
  .callList{
    font-size: 1.2rem;
  }

  .stationInfo{
    flex-direction: column;
    align-items: center;
  }
  .infoBar{
    margin: 0rem 1rem 1rem 1rem;
    height: 6rem;
  }

  .extraInfo{
    font-size: 1.2rem;
    width: 80%;
    min-height: 8rem;
    padding: 0;
  }
}

@media screen and (max-height: 40rem){
  .main{
    flex-direction: row;
    align-items: start;
    font-size: 1rem; /*change font size to 1.6rem to equal browser default of 16px*/
  }

  .infoBar{
    margin: 0 1rem 1rem 1rem;
    height: 6rem;
  }

  .stationInfo{
    flex-direction: column;
    align-items: center;
  }

  .extraInfo{
    font-size: 1.2rem;
    width: 80%;
    min-height: 8rem;
    padding: 0;
  }

  .title{
    max-width: 100rem;
    margin: 0 auto 0 auto;
  }
  
  .logo{
    height: 3rem;
    margin: 1rem 0 1rem 2rem;
  }

}