
html{
  font-size: 10px; /*change default font size so 1rem = 10px rather than 16*/
}
body{
  font-family: "Roboto", sans-serif;
  background-color: #62b6cb;
}

.title{
  max-width: 100rem;
  margin: 0 auto 0 auto;
}

.titleText{
  font-weight: bold;
  margin: 2rem auto 0.5rem 10rem;
}

.root{

  display: flex;
  flex-direction: column;
  align-items: center;
  border-style: dashed;
  background-color: #bee9e8;
  border-width: 0.1rem;
  border-radius: 2rem;
  overflow: hidden;
  max-width: 100rem;
  margin: 0 auto 2rem auto;
  font-size: 1.6rem; /*change font size to 1.6rem to equal browser default of 16px*/
}

.map{
  border-width: 0.1rem;
  width: 100%;
}

.markerInfo{
  overflow: hidden;
  border-style: solid;
  background-color: white;
  border-width: 0.1rem;
  border-radius: 0 1rem 1rem 1rem;
  width: 10rem;
  /*margin: 4rem 0 0 2rem;*/
  margin: 0;
  padding: 0;
}

.callField{
  border-style: dashed;
  background-color: #f7fff7;
  border-width: 0.1rem;
  border-radius: 0.5rem;
  margin: 0 1rem 0 0.5rem;
}

.infoBar{
  border-style: dashed;
  border-width: 0.1rem;
  border-radius: 0.5rem;
  background-color: #f7fff7;
  height: 10rem;
  overflow-y: auto;
  margin: 2rem auto 1rem auto;
}

th {
  position: sticky;
  border-style: none none solid none;
  top: 0;
}

td {
  text-align: left;
  padding: 0 1rem 0 1rem;
  font-size: 1.4rem;
}

table{
  margin: 0 2rem 0 2rem;
}

.bottomBar{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  max-width: 50rem;
  margin: 0 5rem 2rem 5rem;
}
